body, html { 
  font-family: 'Open Sans', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

 /* Active Navlink highligh color */
.selected {
  color: green;
  font-size: 100px;
}


.googlemap {
  width: 100%;

}


/* Home */
.circle-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: red;
  border: none;
  outline: none;
  cursor: pointer;
}

/* Services */
.big-card {
  padding: 2rem;
  margin: 2rem;
  transition: all 0.3s;
  cursor: pointer;
}

.big-card:hover {
  box-shadow: 5px 10px 18px #979797;
}

.big-card--links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: 75%;
}

.big-card--links img {
  max-width: 100%;
  height: auto;
}

.big-card--services {
  box-shadow: 0 0 10px rgba(96, 96, 96, 0.1);
  transition: all 0.2s;
}

.big-card--services:hover {
  transform: scale(1.1);
  /* color: orange; */
}

.services-container {
  margin-top: 10rem;
}

.last-row {
  margin-left: 33.5%;
}

/* Links */

.links-card {
  padding: 0;
  background-color: green;
}

/* Nav */

.nav-link {
  position: relative;
  text-decoration: none;
  padding-bottom: 0.25rem;
}

.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease-out;
}

.nav-link:hover::after {
  width: 100%;
}


/* .navbar {
  background-color: #1E72FA;
} */

/* .navbar-default {
  background: #1E72FA;
} */

.btn-link {
  transition: ease-in-out 0.2s;
  background-color: transparent;
  border: none;
}

.btn-link:hover {
  transform: translateY(5px);
  background-color: transparent;
}

.dr-about-page {
  /* background-color: antiquewhite; */
}

.dr-about-page-inner {
  /* background-color: rgba(157, 124, 250, 0.34); */
  display: flex;
  flex-direction: row;
  overflow: auto;
}

.dr-about-page-inner-left {
  width: 70%;
  margin-left: 5rem;
  /* background-color: orange; */
}

.dr-about-page-inner-right {
  width: 30%;
  /* background-color: magenta; */
}

.dr-image {
  width: 100%;
  height: 100%;
}


/* Portal */

.portal-square-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 60vh;
}

.portal-square {
  display: flex;
  height: 200px;
  width: 200px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid black;
  transition: all 0.2s;
  cursor: pointer;
}

.portal-square:hover {
  background-color: rgb(241, 241, 241);
}

.provider-back-button {
  position: absolute;
  background-color: transparent;
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  top: 15vh;
  left: 5vw;
}

.provider-back-button:hover {
  background-color: rgb(241, 241, 241);
}

/* Query */

.patient-query-container {
  height: 70vh;
  width: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.patient-query-card {
  height: 80%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgray;
  border-radius: 10px;
}

/* Query Result */

.query-container{
  width: 100%;
}

.queryResultPatient-container {
  border: 1px solid lightgray;
  width: 100%;
  border-radius: 10px;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.patient-li {
  list-style-type: none;
  text-align: left;
  border: 1px solid black;
  padding: 5px;
  width: 100%;
  display: block; /* or inline-block, depending on your layout */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.query-ul-patient {
  width: 50%;
}

/* Forms */

.forms-container {
  background-color: rgb(245, 245, 245);
  width: 80%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  border-radius: 10px;
}

/* Form Result */

.form-result--container {
  background-color: rgb(208, 208, 208);
  width: 80%;
  height: 100px;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  border: 1px solid grey;
  border-radius: 10px;
}

.form-result--left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: self-start;
  margin-left: 10px;
}

.form-result--right {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.form-result--button {
  width: 35%;
  padding: 10px;
  cursor: pointer;
  border: 1px solid grey;
  border-radius: 10px;
  user-select: none;
  transition: all 0.2s;
}

.form-result--button-view:hover {
  background-color: rgb(0, 255, 0);
}

.form-result--button-delete:hover {
  background-color: rgb(248, 21, 0);
  color: white;
}

.form-result--button-view {
  background-color: rgb(185, 255, 185);
}

.form-result--button-delete {
  background-color: rgb(255, 194, 188);
}

.pdf-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vh;
  height: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
  /* CSS rules for screen sizes of 767px or less go here */
  .services-container {
    margin-top: 0px;
  }

  .last-row {
    margin-left: 0;
  }

  .dr-about-page-inner {
    /* background-color: rgba(157, 124, 250, 0.34); */
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .dr-about-page-inner-left,
  .dr-about-page-inner-right {
    width: 80%;
  }
  
  .dr-about-page-inner-left {
    height: 80%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    margin-top: 2rem;
    overflow: scroll;
  }

  .portal-square-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .portal-square {
    margin-bottom: 2rem;
  }

  .query-ul-patient {
    width: 75%;
  }
  
  .form-result--right {
    flex-direction: column;
  }

  .form-result--button {
    width: 80%;
  }

}

@media (max-width: 992px) {
  .navbar-nav .nav-link {
    text-align: center;
    width: 100%;
  }
}
